{% extends 'base.html' %}
<body>
    {% block content %}
        <p>This is {{ product_detail.name }}</p>
        <h2>Detail Product</h2>
        <ul>
            {% for key, value in data_dict.items %}
                <li>
                    <strong>{{ key|capfirst }}:</strong> {{ value }}
                </li>
            {% endfor %}
        </ul>
        <p>Order product: {{ order_detail }}</p>
        <p>Order product.order_id: {{ order_detail.order_id }}</p>
        <p>Order product.order_id.pk: {{ order_detail.order_id.pk }}</p>
        {% if order_detail and order_product.order_id.pk %}
            <a href="{% url 'orders_shop:checkout_order' order_detail.order_id.pk %}">Buy Now</a>
        {% else %}
            <p>Not available</p>
        {% endif %}
    {% endblock content %}
</body>
